<%- include('../partials/header') %>
<link rel="stylesheet" href="/stylesheets/storyShow.css" />

<div class="story-info">
  <h2>Story Info</h2>
  <div class="author-info">
    <p class="author-name">Author: <%= story.user %></p>
    <p class="theme">Theme: <%= story.theme %></p>
  </div>
</div>

<table class="story-table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= story.title %></td>
      <td><%= story.body %></td>
      <td><%= story.createdAt.toLocaleDateString() %></td>
    </tr>
  </tbody>
</table>

<h2>Chapters</h2>
<% if (story.chapters.length) { %>
<table class="chapters-table">
  <thead>
    <tr>
      <th>Chapter</th>
      <th>Content</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% let counter = 1 %> <% story.chapters.forEach(function(c) { %>

    <tr>
      <td><%= counter %></td>
      <td><%= c.body %></td>
      <td>
        <!-- ONLY RENDERS IF USER IS OWNER OF STORY OR ORIGINAL POSTER -->
        <% if (user) { %> <% if (user._id.equals(c.user) ||
        user._id.equals(story.user)) { %>
        <form
          action="/stories/<%= story._id %>/chapters/<%= c._id %>?_method=DELETE"
          method="POST"
        >
          <button type="submit">Delete</button>
        </form>
        <% } %> <% } %>
      </td>
    </tr>
    <% counter++ %> <% }); %>
  </tbody>
</table>
<% } else { %>
<h5>No Chapters Yet</h5>
<% } %>

<h2 class="continue">Continue The Story...</h2>
<form
  method="POST"
  action="/stories/<%= story._id %>/chapters"
  class="add-chapter-form"
>
  <label
    >Content:
    <input type="string" name="body" />
  </label>
  <input type="submit" value="Add Chapter" />
</form>

<h2>Comments</h2>
<% if (story.comments.length) { %>
<table class="comments-table">
  <thead>
    <tr>
      <th>Comment</th>
      <th>Date</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% story.comments.forEach(function(cmt) { %>

    <tr>
      <td><%= cmt.body %></td>
      <td><%= cmt.createdAt.toLocaleDateString() %></td>
      <td>
        <!-- ONLY RENDERS IF USER IS OWNER OF STORY OR ORIGINAL POSTER -->
        <% if (user) { %> <% if (user._id.equals(cmt.user) ||
        user._id.equals(story.user)) { %>
        <form
          action="/stories/<%= story._id %>/comments/<%= cmt._id %>?_method=DELETE"
          method="POST"
        >
          <button type="submit">Delete</button>
        </form>
        <% } %> <% } %>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>
<% } else { %>
<h5>No Comments Yet</h5>
<% } %>

<form
  method="POST"
  action="/stories/<%= story._id %>/comments"
  class="add-comment-form"
>
  <label
    >Content:
    <input type="string" name="body" />
  </label>
  <input type="submit" value="Submit" />
</form>

<%- include('../partials/footer') %>
