<%- include('../partials/header') %>
<h2>Story Info</h2>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Theme</th>
            <th>Body</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= story.title%></td>
            <td><%= story.theme%></td>
            <td><%= story.body%></td>
            <td><%= story.createdAt.toLocaleDateString()%></td>
        </tr>
    </tbody>
</table>
<br><br><h2>Chapters</h2>
<% if (story.chapters.length) { %>
    <table>
        <thead>
          <tr>
            <th>Chapter</th>
            <th>Content</th>
          </tr>
        </thead>
        <tbody>
        <% let counter = 1 %>
          <% story.chapters.forEach(function(c) { %>
            
            <tr>
              <td><%= counter %></td>
              <td><%= c.body %></td>
              <td>
                 <!-- if (user?._id.equals(r.user)) { -->
                    <!-- OVERRIDES POST METHOD TO DELETE-->
                <form action="/stories/<%= story._id %>/chapters/<%= c._id %>?_method=DELETE" method="POST">
                    <button type="submit">X</button>
                </form>
              </td>
              <% counter++ %>
            </tr>
          <% }); %>
        </tbody>
      </table>
      <% } else { %>
        <h5>No Chapters Yet</h5>  
      <% } %>
<h2>Continue The Story...</h2>
<form method="POST" action="/stories/<%= story._id %>/chapters">
    <label>Content:
        <input type="string" name="body">
    </label>
    <input type="submit" value="Add Chapter">
</form>
<h2>Comments</h2>
<% if (story.comments.length) { %>
    <table>
        <thead>
          <tr>
            <th>Comment</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <% story.comments.forEach(function(c) { %>
            
            <tr>
              <td><%= c.body %></td>
              <td><%= c.createdAt.toLocaleDateString() %></td>
              <td>
                 <!-- if (user?._id.equals(r.user)) { -->
                    <!-- OVERRIDES POST METHOD TO DELETE-->
                <form action="/stories/<%= story._id %>/chapters/<%= c._id %>?_method=DELETE" method="POST">
                    <button type="submit">X</button>
                </form>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
      <% } else { %>
        <h5>No Comments Yet</h5>  
      <% } %>
<form method="POST" action="/stories/<%= story._id %>/comments">
    <label>Content:
        <input type="string" name="body">
    </label>
    <input type="submit" value="Submit">
</form>
<%- include('../partials/footer') %>
