<%- include('../partials/header') %>
<h2>Story Info</h2>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Theme</th>
            <th>Body</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= story.title%></td>
            <td><%= story.theme%></td>
            <td><%= story.body%></td>
        </tr>
    </tbody>
</table>
<%- include('../partials/footer') %>
