<%- include('../partials/header') %>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link href="/stylesheets/profile.css" rel="stylesheet" />
  </head>
  <body>
    <div class="card">
      <div class="card-header">
        <img
          src="<%= profUser.avatar %>"
          src="<%= profUser.avatar %>"
          alt="Profile Image"
          class="profile-img"
        />
      </div>
      <div class="card-body">
        <% if(profUser.profile.displayName) {%>
        <p class="name"><%= profUser.profile.displayName %></p>
        <% } else {%>
        <p class="name"><%= profUser.name %></p>
        <% } %>
        <a href="#" class="mail"><%= profUser.email %></a>
        <% if(profUser.profile.aboutMe) {%>
        <p class="About Me"><%= profUser.profile.aboutMe %></p>
        <% } else { %>
            <!-- CURRENTLY FILLER TEXT-->
            <p class="About Me">I like Turtles....</p>
        <% } %>
      </div>
      <div>
          <% if (userStories.length >= 1) { %>
        <div class="dropdown">
            <span>Check Out My Stories</span>
            <div class="dropdown-content">
                  <% userStories.forEach((story) => { %>
                    <a href="/stories/<%=story.id%>"><%= story.title %></a>
                  <% }); %>
                </div>
            </div>
            <% } else { %>
            <span>This User Has No Stories</span><% } %>
      </div>

      <div class="social-links">
        <a href="#" class="fab fa-instagram social-icon"></a>
        <a href="#" class="fab fa-twitter social-icon"></a>
        <a href="#" class="fab fa-youtube social-icon"></a>
        <a href="#" class="fab fa-reddit social-icon"></a>
      </div>

      <div class="card-footer">
        <p class="count">
          <span>120k</span> Followers | <span>10k</span> Following
        </p>
        <% if (user._id.equals(profUser.id)) { %>
        <!-- Profile edit button -->
        <button id="editProfileBtn">Edit Profile</button>
        <!-- Edit form -->
        <div id="editForm" style="display: none">
          <h2>Edit Profile</h2>
          <form id="profileEditForm" action="/users/<%= user._id %>?_method=PUT" method="POST" autocomplete="off">
            <label for="editName">Name:</label>
            <input
              type="text"
              id="editName"
              name="displayName"
              <% if(profUser.profile.displayName) {%>
                value="<%= profUser.profile.displayName %>"
              <% } else { %>
                value="Your Name"
                <% } %>
            />

            <label for="editEmail">Email:</label>
            <input
              type="email"
              id="editEmail"
              name="displayEmail"
              <% if(profUser.profile.displayEmail) {%>
                value="<%= profUser.profile.displayEmail %>"
              <% } else { %>
                value="Yourname@email.com"
                <% } %>
            />

            <label for="editJob">About:</label>
            <input
              type="text"
              id="editJob"
              name="aboutMe"
              <% if(profUser.profile.aboutMe) {%>
                value="<%= profUser.profile.aboutMe %>"
            <% } else { %>
                value="Developer | Designer"
            <% } %>
            />
            
            <button type="submit">Save Changes</button>
            <% } %>
          </form>
        </div>
      </div>
    </div>

    <!-- Link to the JavaScript file -->
    <script>
      // Add event listener to the edit profile button
      editProfileBtn.addEventListener("click", function () {
        // Show the edit form
        editForm.style.display = "block";
        // Hide the edit profile button
        editProfileBtn.style.display = "none";
      });

      // Preset photo selection
      var presetPhotos = document.querySelectorAll(".preset-photo");
      presetPhotos.forEach(function (photo) {
        photo.addEventListener("click", function () {
          // Set the selected photo as the value of the editPhoto input field
          var selectedPhotoSrc = this.getAttribute("data-src");
          document.getElementById("editPhoto").value = selectedPhotoSrc;
        });
      });

      // Prevent form submission (for demonstration)
    //   document
    //     .getElementById("profileEditForm")
    //     .addEventListener("submit", function (event) {
    //       event.preventDefault();
    //       // Here you can handle form submission, such as sending data to the server
    //       // For now, we'll just hide the edit form after submission
    //       editForm.style.display = "none";
    //       // Show the edit profile button again
    //       editProfileBtn.style.display = "block";
    //     });
    </script>
  </body>
</html>
